*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

input, button, textarea, select {
    font: inherit;
}

button {
    border: none;
    padding: 0;
    background: none;
}

body {
    /* primary */
    --bright-blue: hsl(220, 98%, 61%);
    --check-bg: linear-gradient(135deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
    
    /* light theme */
    --body-bg: hsl(0, 0%, 98%);
    --card-bg: hsl(0, 0%, 100%);
    --card-border: hsl(236, 33%, 92%);
    --text-input: hsl(235, 14%, 26%);
    --text-input-placeholder: hsl(236, 9%, 61%);
    --text-primary: hsl(235, 19%, 35%);
    --text-secondary: hsl(236, 9%, 61%);
    --text-new: hsl(236, 9%, 61%);
    --text-completed: hsl(233, 11%, 84%);
    --text-secondary-hover: hsl(235, 19%, 35%);
    --delete-cross: hsl(235, 19%, 35%);
    --card-shadow: 0px 35px 50px -15px hsla(235, 19%, 80%, 0.5);

    background-image: url('assets/bg-desktop-light.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-color: var(--body-bg);
}

body.dark {
    /* dark theme */
    --body-bg: hsl(235, 21%, 11%);
    --card-bg: hsl(235, 24%, 19%);
    --card-border: hsl(233, 14%, 35%);
    --text-input: hsl(234, 39%, 85%);
    --text-input-placeholder: hsl(234, 11%, 52%);
    --text-primary: hsl(234, 39%, 85%);
    --text-secondary: hsl(235, 16%, 42%);
    --text-new: hsl(234, 11%, 52%); 
    --text-completed: hsl(233, 14%, 35%);
    --text-secondary-hover: hsl(236, 33%, 92%);
    --delete-cross: hsl(235, 16%, 43%);
    --card-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.5);

    background-image: url('assets/bg-desktop-dark.jpg');
}

@media (max-width: 700px) {
    
    body {
        background-image: url('assets/bg-mobile-light.jpg');
    }

    body.dark {
        background-image: url('assets/bg-mobile-dark.jpg');   
    }
}

